* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header__title {
  font-family: "Exo 2", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  width: 610px;
  margin-bottom: 20px;
}
.header__paragripth {
  width: 525px;
  color: #6b6b6c;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
}
.header__extra {
  color: black;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 3px solid #ffce50;
  width: 118px;
  margin-top: 30px;
}

.main__services {
  width: 1240px;
  height: 341px;
  background-color: rgba(0, 0, 0, 0.062745098);
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.main__boxes {
  padding-top: 40px;
}
.main__services-title {
  margin-top: 13px;
  width: 228px;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #363738;
}
.main__services-paragripth {
  font-family: "PT Sans", sans-serif;
  width: 225px;
  color: #6b6b6c;
  margin-bottom: 10px;
}

.clientslogo__paragripth4 {
  font-family: "PT Sans", sans-serif;
  color: #6b6b6c;
  font-size: 14px;
}
.clientslogo____veryneeded {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.clientslogo__kklijuda {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
}
.clientslogo__boxes {
  border-right: 2px solid #d7d7dd;
  width: 201px;
}

.contacts__design {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contacts__telephone {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  width: 172px;
  color: #6b6b6c;
  font-weight: 400;
}
.contacts__number {
  font-weight: 600;
  font-size: 20px;
}
.contacts__boxs {
  width: 794px;
  height: 500px;
  background-color: #f9f9fb;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.contacts__paragraepth {
  width: 172px;
  font-family: "PT Sans", sans-serif;
  color: #6b6b6c;
  font-size: 16px;
  padding-top: 20px;
}
.contacts__paragraepth2 {
  width: 307px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding-top: 20px;
}
.contacts__main {
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 335px;
  background-color: #0b7572;
}
.footer__logo {
  font-size: 60px;
  color: #ffffff;
  font-weight: 500;
}
.footer__button {
  width: 271px;
  height: 42px;
  background-color: #ff9619;
  border: 1px;
  margin-top: 100px;
}
.footer__needed {
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
}
.footer__button-sentence {
  color: white;
}

.main-img {
  margin-top: 60px;
  position: relative;
}
.main-img__size-adjusting {
  -webkit-clip-path: polygon(24% 1%, 100% 0%, 100% 100%, 69% 100%, 54% 100%);
          clip-path: polygon(24% 1%, 100% 0%, 100% 100%, 69% 100%, 54% 100%);
}
.main-img__position {
  position: absolute;
  z-index: 1;
  bottom: -5px;
}
.main-img__position2 {
  position: absolute;
  bottom: 141px;
  z-index: 1;
  left: 58px;
}

.rest-previous-sc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}
.rest-previous-sc__h4 {
  font-family: "Exo 2", sans-serif;
  color: #363738;
  line-height: 27px;
  font-size: 20px;
  font-weight: 700;
}
.rest-previous-sc__paragripth2 {
  font-family: "PT Sans", sans-serif;
  width: 291px;
  font-size: 16px;
  line-height: 24px;
  color: #6b6b6c;
}
.rest-previous-sc__flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.steps__raw-box {
  width: 1183px;
  height: 245px;
  background-color: rgba(0, 0, 0, 0.0705882353);
}
.steps__title {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
}
.steps__hr {
  width: 86px;
  height: 2px;
  background-color: #ffce50;
  border: 3px solid #ffb700;
}
.steps__paragrapth {
  width: 568px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}

.table {
  width: 1239px;
  height: 917px;
  background-color: #0b7572;
  margin-top: 100px;
}

.team-section__boxess {
  margin-top: 20px;
  width: 595px;
  border: 1px solid whtie;
  border-left: 52px solid #0b7572;
  border-radius: 25px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.0823529412);
  display: flex;
  align-items: center;
  gap: 39px;
}
.team-section__images {
  display: flex;
  gap: 20px;
}
.team-section__flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.workers {
  margin-top: 70px;
}
.workers__titleex {
  font-family: "Exo 2", sans-serif;
  color: #363738;
  font-size: 48px;
  font-weight: 500;
}
.workers__paragripthll {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 447px;
  color: #6b6b6c;
}
.workers__row-box {
  background-color: rgba(0, 0, 0, 0.0705882353);
  width: 394px;
  height: 400px;
}
.workers__borderline {
  border-bottom: 3px solid #ffce50;
  width: 90px;
  
}
.workers__color {
  color: #6b6b6c;
  font-family: "PT Sans", sans-serif;
}
.workers__flex {
  display: flex;
  margin-top: 25px;
}

@media screen and (max-width: 690px) {
  .container {
    width: 659px;
    margin: 0px;
  }
  .header {
    flex-direction: column;
  }
  .header__title {
    width: 748px;
  }
  .header__paragripth {
    width: 515px;
    font-size: 21px;
    color: #6b6b6c;
    line-height: 26px;
    font-weight: 400;
  }
  .header__extra {
    margin-left: 158px;
  }
  .main__boxes {
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .main__services {
    background-color: white;
    flex-direction: column;
  }
  .main-img__position {
    width: 361px;
    bottom: 15px;
  }
  .main-img__size-adjusting {
    width: 565px;
    margin-top: 68px;
  }
  .header__title {
    font-size: 30px;
  }
  .rest-previous-sc {
    display: block;
  }
  .rest-previous-sc__flex {
    margin-top: 20px;
  }
  .kksiz {
    display: none;
  }
  .workers {
    margin-top: 90px;
    margin-bottom: 70px;
  }
  .workers__row-box {
    background-color: white;
    margin-top: 20px;
  }
  .workers__color {
    width: 514px;
  }
  .responiveimgsetngs {
    width: 565px;
  }
  .main__services {
    width: 0;
  }
  .steps__raw-box {
    width: 665px;
  }
  .clientslogo__kklijuda {
    gap: 95px;
  }
  .bank-text {
    padding-top: 15px;
  }
  .ps-6 {
    display: none;
  }
  .team-section__boxess {
    height: 287px;
  }
  .contacts__main {
    flex-direction: column;
  }
  .contacts__boxs {
    width: 594px;
  }
  .footer {
    width: 680px;
  }
  .footer__logo {
    width: 80px;
    font-size: 30px;
  }
  .responsive-content {
    font-size: 14px;
    margin-left: 15px;
    display: block;
  }
  .img__position {
    position: relative;
    bottom: 15px;
  }
  .titlekkli2 {
    font-size: 15px;
    position: relative;
    bottom: 45px;
  }
  .steps__raw-box {
    background-color: white;
  }
  .workers__flex {
    display: block;
  }
  .titlekkli2 {
    color: white;
  }
}
@media screen and (min-width: 964px) {
  .clientslogo__kklijuda {
    gap: 73px;
  }
  .titlekkli2 {
    color: white;
  }
  .kksiz2 {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .clientslogo__kklijuda {
    gap: 73px;
  }
  .titlekkli2 {
    color: white;
  }
  .kksiz2 {
    display: none;
  }
}
@media screen and (max-width: 345px) {
  .header__title {
    width: 323px;
    font-size: 30px;
  }
  .header__paragripth {
    width: 344px;
    font-size: 400;
  }
  .header__extra {
    margin-left: 0;
  }
  .noneed3 {
    display: none;
  }
  .main-img__position2 {
    margin-top: 30px;
    top: 48px;
    left: -6px;
    color: black;
    font-size: 40px;
    font-weight: 600;
    width: 345px;
  }
  .rest-previous-sc {
    margin-top: 100px;
  }
  .steps__paragrapth {
    width: 430px;
    font-size: 20px;
  }
  .clientslogo__paragripth4 {
    font-size: 20px;
  }
  .my-4 {
    display: none;
  }
  .contacts__paragraepth {
    display: none;
  }
  .contacts__boxs {
    width: 338px;
  }
  .workers__color {
    width: 275px;
    font-size: 19px;
  }
}/*# sourceMappingURL=index.css.map */