.footer {
  height: 335px;
  background-color: #0b7572;
  &__logo {
    font-size: 60px;
    color: #ffffff;
    font-weight: 500;
  }
  &__button {
    width: 271px;
    height: 42px;
    background-color: #ff9619;
    border: 1px;
    margin-top: 100px;
  }
  &__needed {
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
  }
  &__button-sentence {
    color: white;
  }
}
